<launch>
  <param name="use_sim_time" value="true"/>
  <arg name="kbd_teleop" default="false"/>
  <arg name="rqt_teleop" default="false"/>
  <arg name="scene_file" default="$(find pedsim_simulator)/scenarios/lobby_45ped.xml"/>
  <arg name="world_name" default="$(find pedsim_gazebo_plugin)/worlds/lobby_45ped.world"/>
  <arg name="default_queue_size" default="10"/>
  <arg name="max_robot_speed" default="1.5"/>
  <arg name="robot_mode" default="1"/>
  <arg name="enable_groups" default="true"/>
  <arg name="with_robot" default="true"/>
  <!-- lobby: (1,1); square: (1,1); cumberland: (4,8); autolab: (1,8); freiburg: (3,17) -->
  <arg name="pose_initial_x" default="1.0"/> 
  <arg name="pose_initial_y" default="1.0"/>
  <arg name="pose_initial_theta" default="0.0"/>
  <arg name="simulation_factor" default="1"/>
  <arg name="update_rate" default="25.0"/>

  <arg name="visualize" default="false"/>
  <arg name="gui" default="true" doc="Bring up the Gazebo graphical interface"/>

  <arg name="robot_model" default="water" doc="opt: water, wheeltec"/>

  <!-- Gazebo -->
  <!--include file="$(find pedsim_gazebo_plugin)/launch/eng_hall.launch"/-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="gui" value="$(arg gui)" />
  </include>
  
  <!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose -->  
  <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen">
  </node>

  <!-- Place gazebo frame at map frame -->
  <node pkg="tf" type="static_transform_publisher" name="gazebo_map_broadcaster"
      args="0 0 0 0 0 0  odom gazebo 100"/>
  <!--node pkg="nav_cnn" name="gazebo_odom_broadcaster" type="gazebo_odom_broadcaster.py" output="screen" /-->

  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description 
                -model $(arg robot_model) 
                -x $(arg pose_initial_x) 
                -y $(arg pose_initial_y) 
                -z 0.0 
                -Y $(arg pose_initial_theta)"/>

  <!-- main simulator node -->
  <node name="pedsim_simulator" pkg="pedsim_simulator" type="pedsim_simulator" output="screen">
    <param name="scene_file" value="$(arg scene_file)" type="string"/>
    <param name="default_queue_size" value="$(arg default_queue_size)" type="int"/>
    <param name="max_robot_speed" value="$(arg max_robot_speed)" type="double"/>
    <param name="robot_mode" value="$(arg robot_mode)" type="int"/>
    <param name="enable_groups" value="$(arg enable_groups)" type="bool"/>
    <param name="simulation_factor" value="$(arg simulation_factor)" type="double"/>
    <param name="update_rate" value="$(arg update_rate)" type="double"/>

  </node>

    <!-- Description for the robot -->>
  <include if="$(eval robot_model == 'water')" file="$(find water_description)/launch/robot_description.launch"/>
  <include if="$(eval robot_model == 'wheeltec')" file="$(find wheeltec_description)/launch/robot_description.launch"/>

  <!-- Visualizer -->
  <include file="$(find pedsim_visualizer)/launch/visualizer.launch"/>

</launch>